html,
body {
  background-color: #a9d7d8;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

#survey-form {
	padding: 50px;
}

.form-item {
	margin-top: 10px;
}

.label {
	text-align: right;
	vertical-align: center;
}

.input-field {
	height: 20px;
	width: 280px;
	padding: 5px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}